
/*Changed background color to white, then text to Japanese Indigo; changed
font-size to 16px in body; increased line-height for legibility*/
body {
  background-color: #ffffff;
  color: #2C3C43;
  font-size: 16px;
  line-height: 1.2em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  /* added an anchor attribute so I can change the
  text default color;
  also removed text decoration;
  changed to appropriate font size.*/
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  /*
  Created a hover selector to add interactivity;
   changed color to med vermillion*/
   color: #dd6e42;
}

figcaption {
  /*I added figcaption selector to fit the design specs
  for image captions */
  font-size: 13px;
  color: #7b898e;
}
.logo {
  margin: 20px;
  width: 100px;
}

/*
Deleted large-pic selector;
there was no image for it.*/

.medium-pic {
  /*
  added margin-top & margin-bottom for whitespace*/
  margin-bottom: 10px;
  margin-top: 58px;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

h1 {
  /* Added h1; increased font-size, margin-top & bottom */
  font-size: 48px;
  margin-top: 58px;
  margin-bottom: 58px;
}

h3 {
  /*Added h3 selector; increased top margin & line-height;
  changed max-width to make things clean & even */
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.2em;
  max-width: 540px;
}

p, .author, .story-text {
  /* added p and class selectors; increased line-height;
   reduced max-width for legibility; */
   line-height: 1.2em;
   max-width: 530px;
   margin-bottom: 20px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
